body, nav  {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
a, button, input, .post-preview {
  -webkit-app-region: no-drag;
}
.site-heading {
  width: 100vw;
  height: 500px;
}

.exit-btn {
  border: none !important;
}

.exit-btn > .fa.fa-close,
.exit-btn > .fa.fa-search {
  font-size: 1.4rem;
  color: #fff;
}

.container.content-container {
  margin-top: 40px;
  overflow-x: scroll;
}

.video-image {
  background-image: url('https://i.ytimg.com/vi/Yidqa8n2ZBc/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDUjuRbddpJQ7ee_zsxCbGlTl57iw');
  background-size: cover;
  background-position: center center;
  height: 130px;
  width: 231px;
}

.post-preview {
  /*background-color: blue;*/
  width: 246px;
  padding: 15px;
}

.video-title {
  /*background-color: green;*/
  margin: 0;
  color: #fff;
}

body {
  background-color: #181818;
}

#mainNav {
  background-color: #181818;
  border: none;
  opacity: 0.8;
}

#titleLogo {
  color: #fff !important;
}

.video-selection {
  display: flex;
  flex-flow: row;
}

.video-title {
  font-size: 15px;
}

.search-container {
  /*background-color: blue;*/
  display: grid;
  grid-template-columns: 80vw auto;
  /* padding: 10px 20px; */
  position: fixed;
  top:0; right: 0; left: 0;
  z-index: 130;
  margin-top: -80px;
}

#search-input {
  border-top-left-radius: 5px;
  border: none;
  height: 40px;
}

#submit-search {
  color: #fff;
  background-color: #ff0000;
  border-top-right-radius: 5px;
  padding: 0;
  height: 40px;
}

#search-toggle {
  width: 100vw;
}
#search {
  position: fixed;
  bottom: 10px;
  padding: 0 !important;
}

#by-itsdevkay {
  font-size: 0.7rem;
  font-weight: 100;
  color: #ffd500 !important;
}
